.restaurant-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &-item {
        width: 240px;
        height: 280px;
        margin: 1em;
        box-sizing: border-box;
        cursor: pointer;

        img {
            width: 100%;
            border-radius: 0.75em;
            object-fit: cover;
            height: 10em;
        }
    }
}

.restaurant-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0em;

    .restaurant-title {
        font-weight: 600;
        font-size: 1.1em;
    }

    .open-btn {
        background: rgba(80, 62, 157, 0.1);
        color: #503E9D;
        font-size: 1em;
    }

    .close-btn {
        background: rgba(251, 109, 58, 0.1);
        color: #FB6D3A;
        font-size: 1em;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}